@CHARSET "ISO-8859-1";
h1 {
	text-align: center;
}

h2 {
	color: #FF0000;
	font-family:Arial;
	font-weight:normal;
}

.header{
	height: 50px;
	text-align:center;
	margin:20px;
}

.emergency {
	margin:0px;
	width: 37%;
	float: right;
	/*line-height: 70px;
	vertical-align: middle;*/
}

.label{
	font-family:Trebuchet MS;
	/*font-weight:bold;*/
}

.checkbox-label{
	font-family:Trebuchet MS;
	/*font-weight:bold;*/
}

.map-legend{
	font-family:Trebuchet MS;
	width: 60%;
	clear: both;
	margin: 5px;
}

.ambulance-table {
	border-collapse:collapse;
	border-spacing:0;
	border:none;
	margin:5px;padding:0px;
	width:50%;
	float: left;

}

.ambulance-table th {
	text-align:left;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ff0404;
	overflow:hidden;
	word-break:normal;
	border-style:solid;
	border-width:0;
	padding:10px 5px;
}

.ambulance-table td {
	font-family:Trebuchet MS, sans-serif;
	font-size:14px;
	color:#656565;
	overflow:hidden;
	word-break:normal;
	border-style:solid;
	border-width:0;
	padding:10px 5px;
}

.responder-table {
	border-collapse:collapse;
	border-spacing:0;
	border:none;
	margin:5px;padding:0px;
	width:40%;
	float:right;
}

.responder-table th {
	text-align:left;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ff0404;
	overflow:hidden;
	word-break:normal;
	border-style:solid;
	border-width:0;
	padding:10px 5px;
}

.responder-table td {
	font-family:Trebuchet MS, sans-serif;
	font-size:14px;
	color:#656565;
	overflow:hidden;
	word-break:normal;
	border-style:solid;
	border-width:0;
	padding:10px 5px;
}